[run]
branch = True
include = beelinetools*

[report]
exclude_lines = 
    pragma: no cover
    def main\(\):
    def parse_args\(parser\):
    class ProgramError\(Exception\):
    if __name__ == \"__main__\"
    except ImportError:

[html]
title = Coverage report - beelinetools
